.ManualView {

}
.ManualInput {
    font-size: 18px;
    width:48px;
    margin-right: 16px;
    font-family: monospace;
    font-variant: slashed-zero;
}

.ManualInputList {
    display: flex;
    flex-direction: row;
}
.ManualView .Counter {
    color: #2c820d;
    position: relative;
    /*right: 0;*/
    font-family: monospace;
    /*text-shadow: 0 3px 6px #000080, 0 3px 6px #000000;*/
    /*drop-shadow: 0 4px 4px black;*/
    filter: drop-shadow(0 0 10px black);
    right: 20px;
    bottom: -3px;
    /*background-color: rgba(0,0,0,0.5);*/

    text-shadow: -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}
