.ProductionRule .Index,
.Command .Index {
    font-family: monospace;
    font-size: 32px;
    margin-right: 32px;
    width: 44px;
    color: navajowhite;
}

.ProductionRule {
    display: flex;
    flex-direction: row;
}

.ResourceSet {

}

.ActionBar {
    padding-bottom: 4px;
    border-bottom: 2px solid blueviolet;
    margin-bottom: 16px;
    user-select: none;

}

.ResourceSet {
    /*background-color: midnightblue;*/
    position: relative;
    /*margin-right: 16px;*/

}
.TurnList {

}
.TurnList .Counter {
    color: #2c820d;
    position: relative;
    /*right: 0;*/
    font-family: monospace;
    /*text-shadow: 0 3px 6px #000080, 0 3px 6px #000000;*/
    /*drop-shadow: 0 4px 4px black;*/
    filter: drop-shadow(0 0 10px black);
    right: 20px;
    bottom: -3px;
    /*background-color: rgba(0,0,0,0.5);*/

    text-shadow: -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.ResourceSet .Counter {
    color: #2c820d;
    position: relative;
    /*right: 0;*/
    font-family: monospace;
    /*text-shadow: 0 3px 6px #000080, 0 3px 6px #000000;*/
    /*drop-shadow: 0 4px 4px black;*/
    filter: drop-shadow(0 0 10px black);
    right: 20px;
    bottom: -3px;
    /*background-color: rgba(0,0,0,0.5);*/

    text-shadow: -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.Counter {
    color: #2c820d;
    position: relative;
    /*right: 0;*/
    font-family: monospace;
    /*text-shadow: 0 3px 6px #000080, 0 3px 6px #000000;*/
    /*drop-shadow: 0 4px 4px black;*/
    filter: drop-shadow(0 0 10px black);
    right: 20px;
    bottom: -3px;
    /*background-color: rgba(0,0,0,0.5);*/

    text-shadow: -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;

    font-size: 32px;
    cursor: col-resize;
    pointer-events: none;
}

.TurnList .Emoji {
    margin-right: 6px;
    width: 32px;
    height: 32px;
    font-size: 32px;
    user-select: none;
}

.ResourceSet .Emoji {
    margin-right: 6px;
    width: 32px;
    height: 32px;
    font-size: 32px;
}

.TableExtraRow .Emoji {
    margin-right: 6px;
    width: 32px;
    height: 32px;
    font-size: 32px;
}

.ProductionRuleTable {
    /*border:3px solid lightskyblue;*/
    background-color: #191970;
    border: 4px double indigo;
}

.ProductionRuleTable .ProductionRule:nth-child(3n+1) {
    margin-bottom: 24px;
}

body {
    /*border: 1px solid red;*/
    background-color: #3c3c73;
    padding: 0;
    margin: 0;
}

.ProductionArrow {
    /*padding-left: 32px;*/
    padding-right: 32px;
    width: 32px;
    height: 32px;
    font-size:32px;
}
.Title {
    color: orange;
    font-family: '2K4s', Noteworthy, fantasy;
    padding-left: 20px;
}

.Action {
    color: blue;
    font-size: 32px;
    background-color: rgba(25, 25, 112, 0.20);
    margin-right: 20px;
    user-select: none;

}

.TableExtraRow .Index {
    font-family: monospace;
    font-size: 32px;
    padding-right: 32px;
    padding-left: 8px;
    width: 300px;
    display: inline-block;
}

.shaded {
    opacity: 20%;
}
.Command {
    display:flex;
    margin-left: 32px;
    flex-direction: row;
}

.ResourceSequenceArrow {
    font-family: monaco, monospace;
    font-size: 24px;
}

.TurnData .ResourceSequence {
    height:32px;

    margin-left: 2em;
    margin-top: 8px;
    margin-bottom: 8px;
 /*em   border: 1px solid blue;*/
}
.TurnData .Index {
    /*border: 1px solid brown;*/
}
.TurnData .ProductionArrow {
    margin-top: 14px;
}
    /*.TurnData*/
.TurnSummary {
    /*border: 1px solid aqua;*/
    display: flex;
    flex-direction: row;
}
.Turn {
    border-top:1px solid red;
    margin-top: 14px;

    display: flex;
    flex-direction: row;
}
.TurnData {
    display:flex;
    flex-direction: column;
    /*border: 1px solid red;*/
}

.Turn .Emoji {
    margin-top: 1em;
    height:32px;
    font-size: 32px;
}
.Turn .PartialState{
    position: relative;
}
.Turn .SwitchState {
    position: absolute;
    bottom:0px;
    right: -32px !important;
    font-size: 32px;
}

.ErrorPlaceHolder {
    font-size: 48px;
    color:orangered;
}
textarea.RequiredCommands {
    font-size: 32px;
    font-family: monospace;
    background-color: darkslategray;
    color: #ffc800;
    cols: "40";
    rows: "8";
}
.AsRow {
    display: flex;
    flex-direction: row;
}
