
.MinMaxRange {
    font-size: 32px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.MinMaxRange .Label {
    font-size: 32px;
    margin-right: 32px;
    margin-left: 16px;
    font-family: monospace;
}

.MinMaxRange .MinValue {
    color: deeppink;
    padding: 8px;
}
.MinMaxRange .MaxValue {
    color: blue;
    padding: 8px;
}

.MinMaxRange * .Index {
    background-color:red;
}
