
@font-face {
  font-family: '2K4s';
  src: local('2K4s'), url("./fonts/2K4sRegular-r1oB.ttf") format('truetype');
}

/*body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}*/

.NavigationBar {
  position: static;
  display: flex;
  flex-direction: row;
  right: 0;
  border-bottom: 2px solid #282c34;
  position: fixed;
}

.NavigationBar .Link {

  margin-right: 24px;
  font-family: sans-serif;
  font-size: 24px;
  /*color: lightgray;*/
  color:#282c34;
  text-decoration: none;
}
